*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

body {
    background-color: white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

.top-container {
    position: relative;
    padding-top: 20px;
    text-align: center;
}


.logo span {
    font-family: 'Candal', sans-serif;
    color: #84d4ff;
}


.header {
    display: flex;
    justify-content: space-between
}


.menu {
margin-left: 1.2em;
}

.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;  
}

.menu li a {
    color: white;
    text-decoration: none;
}

.logo {
    font-family: 'Candal', sans-serif;
    font-size: 2em;
}

.logo span {
    font-family: 'Candal', sans-serif;
    color: #84d4ff;
}

.hide{
    display: none;
}

.menu {
    background-color: #112935;
    position: static;
    width: auto;
    height: auto;
    display: flex;
    margin-top: 1em;
}

.menu li {
    padding: 15px;
}

.menu li:hover {
    background: rgba(175, 175, 175, 0.251)
}

.content {
    max-width: 960px;
    margin: 0 auto;
    font-size: 2.5em;
}


#principal,
aside {
    background-color: whitesmoke;
    border-radius: .5em;
    display: inline-block;
    margin: 0 auto;
    min-height: 200px;
    text-align: center;
    vertical-align: top;
    width: 70%;
    margin-top: 0.5em;
}

aside {
    background-color: whitesmoke;
    border-radius: .5em;
    display: inline-block;
    margin: 0 auto;
    min-height: 200px; 
    text-align: center;
    vertical-align: top;
    width: 70%;
    margin-top: 0.5em;
}

article {
    background-color: whitesmoke;
    border-radius: .5em;
    min-height: 140px;
    padding: .25em;
    margin: 0 1em;
    margin-top: auto;
    position: relative;
    height: 100%;
}

h2 {
    margin: 24px;
    color: black;
    text-transform: uppercase;  
}

.articulo{
    display: flex;
}

img{
    max-width: 200px;
    max-height: 200px;
    margin-left: 15px;
    float: right;
}

aside {
    margin-top: 0.5em;
    width: 29%;
    
}

footer {
    background-color: #0D5061;
    color: #D7DEE6;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 24px;
    justify-content: center;
    height: 50px;
    padding-top: 16px;
    position:fixed;      
}

.post_date{
    margin-top: 10%;
    color: #00a8a8;
    font-size: 0.8em;
}

.porfile_pic {
  	    
  	 width: 100px;
  	 height: 100px;
  	 object-fit: cover;
  	 border-radius: 50%;
  	 margin-right: 15%;
}

.text-aside{
    color: #828282;
    text-align: left;
    font-size: .8rem;
    margin: 16px;
    font-family: 'Montserrat', sans-serif;
}

.personal_info{
    margin-top: 24px;
    margin-left: 15%;
}

h3{
    color: black;
    text-align: left;
    margin-left: 16px;
}

.container {
    background-color: #112935;
    width: auto;
}

.parrafo {
    color: #494949;
    text-align: left;
    float: left;
}